extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/result" method="GET")
    p Tikcer:
      input(type="text" id="ticker_search" name="ticker_search" placeholder="")
    p Start Date:
      input(type="date" id="start_date" name="start_date" placeholder="")
    p End Date:
      input(type="date" id="end_date" name="end_date" placeholder="")
    p Frequency:
      select
        option(value="d") Daily
        option(value="w") Weekly
        option(value="m") Monthly
    input(type="submit")